* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: coral;
  margin: 5px;
}

ul {
  border: 3px solid rgb(32, 206, 139);
  list-style: none;
}

li {
  padding: 3px;
  margin: 2px;
}

li:hover {
  background-color: cornflowerblue;
}
